@import './base.css';

body{
  width: 100%;
  font-family: Raleway, sans-serif;
  color: #2C2D35;
  font-weight: 500;
}
body.click {
    overflow: hidden;
}
.container {
  padding: 0 100px;
  margin: 0 auto;
}
.header {
  position: fixed;
  width: 100%;
  background: #E1EDE6;
  top: 0;
  left: 0;
  z-index: 50;
  & .header__fuck {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  }
  & .header__body {
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
  & .header__list {
  display: flex;
  gap: 40px;
  justify-content: flex-end;
  }
  & .header__link {
  color: #2C2D35;
  font-size: 20px;
  line-height: 23.48px;
  transition: 0.3s;
  }
  & .header__link:hover{
  color: #376B44;
  }
  & .header__shop {
  position: relative;
  align-self: center;
  justify-self: end;
  cursor: pointer;
  }
}
.hero {
  padding: 50px 0 40px;
}
.hero__body {
  display: grid;
  grid-template: 1fr/1fr 1fr;
  justify-content: space-between;
}
.hero__picture img{
  width: 100%;
  max-width: 100%;
}
.hero__titles {
  position: relative;
  align-self: center;
  max-width: 540px;
}
.hero__titles h1{
  font-size: 60px;
  line-height: 66px;
}
.hero__titles h1 span{
  color: #598D66;
}
.hero__titles p{
  padding: 15px 0 80px;
  color: #86928B;
  font-size: 18px;
  line-height: 27px;
}
.button {
  padding: 20px 65px;
  border: 1px solid #598D66;
  color: #598D66;
  font-size: 20px;
  line-height: 23.48px;
  text-align: center;
  transition: 0.5s;
}
.products {
    padding: 20px 0;
}
.products__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 40px;
    line-height: 44px;
}
.products__tabs{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.products__btn{
    background: #D4E8D9;
    padding: 10px 20px;
    border-radius: 50px;
    background: #D4E8D9;
    color: #2C2D35;
    font-size: 20px;
    line-height: 23.48px;
    transition: 0.5s;
}
.products__tabs .active{
    color: #F4F6F5;
    background: #376B44;
}
.products__aitems {
    padding: 20px 0;
}
.products__tab{
    display: none;   
    
}
.products__tab.active{
    display: grid;
    grid-template: 1fr 1fr/1fr 1fr 1fr;
    gap: 20px;
    width: 100%;
    
}

.product__block{
    background: #E1EDE6;
    border-radius: 5px;
    padding: 20px;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1r 1fr 1fr 1fr/1fr;
    width: 100%;
}
.product__block img{
    max-width: 100%;
}
.product__block h6{
    padding: 10px 0;
    color: #86928B;
    font-size: 18px;
    line-height: 21.13px;
}
.product__block h5{
    font-size: 30px;
    line-height: 35.22px;
}
.product__block p{
    padding: 5px 0;
    font-size: 18px;
    line-height: 21.13px;
}
.product__block .price {
    padding: 30px 0 20px;
    font-size: 24px;
    line-height: 28.18px;
    color: #598D66;
}
.product__block .buy, .buy {
    display: block;
    padding: 20px 0;
    text-align: center;
    color: #598D66;
    border: 1px solid #598D66;
    font-size: 20px;
    line-height: 23.48px;
    position: relative;
    align-content: end;
    transition: 0.3s;
}
.promo {
    padding: 100px 0;
    background-image: url('/promo_background.png');
    background-size: cover;
    color: #F4F6F5;
}
.promo__body {
    max-width: 60%;
}
.promo__aitems p{
    font-size: 18px;
    line-height: 27px;
    padding: 15px 0;
}
.promo__aitems-head {
    padding: 10px 0;
    display: flex;
    align-items: center;
    font-size: 40px;
    line-height: 40px;
}
.promo__button {
    padding: 40px 0 0;
}
.promo__button .button {
    background: #EEDB6D;
    border: none;
    color: #2C2D35;
}
.comand {
    width: 100%;
    padding: 50px 0;
    color: #2C2D35;
}
.comand__body {
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.comand__body-pic img{
    width: 100%;
}
.comand__body-title h5{
    padding: 50px 0 0;
    font-size: 30px;
    line-height: 33px;
}
.comand__body-title{
    width: 50%;
    position: relative;
    align-self: center;
}
.comand__body-title p{
    padding: 20px 0;
    font-size: 18px;
    line-height: 27px;
}
.comand__body-guys {
    display: flex;
    gap: 40px;
}
.comand__body-guys img {
    width: 100%;
}
.footer {
    background: #E1EDE6;
    padding: 20px 0;
}
.footer__logo img {
    width: 100%;
    max-width: 150px;
}
.footer__fuck{
    display: grid;
    grid-template: 1fr/minmax(auto, 350px)1fr;
    justify-content: space-between;
}
.footer__head {
    display: grid;
    grid-template: minmax(auto, 50px) 1fr/1fr;
}
.footer__contact a{    
    color: #2C2D35;
    font-size: 20px;
    line-height: 23.48px;
    transition: 0.3s;
}
.footer__contact p{
    padding: 10px 0;
    color: #86928B;
    font-size: 18px;
    line-height: 21.13px;
}
.footer__block {
    display: grid;
    grid-template: 1fr/85% 1fr;
    justify-content: space-between;
}
.footer__aitems {    
    display: grid;
    grid-template: 1fr/1fr 1fr 1fr;
    justify-content: center;
    gap: 10px;
}
.footer__aitem {
    padding: 10px 0;
    font-size: 20px;
    line-height: 23.48px;
}
.footer__links{
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr/1fr;
}
.footer__links a{
    color: #86928B;
    font-size: 18px;
    line-height: 27px;
}
.footer__copy {
    position: relative;
    justify-self: end;
}
.soical {
    display: flex;
    align-items: center;
    gap: 10px;
}
.copy {
    padding: 10px 0;
    color: #86928B;
    font-size: 12px;
    line-height: 14.4px;
}

button:hover, .button:hover, .buy:hover{
    background: #598D66;
    color: #fff;
}
button:active, .button:active, .buy:active{
    background: #D4E8D9;
    color: #598D66;
}

.promo__button .button:hover{
    background: #FAEB97;
    color: #2C2D35;
}
.promo__button .button:active{
    border: 1px solid #A38314;
    color: #2C2D35;
}
.footer__links a:hover,.footer__contact a:hover{
    color: #598D66;
}


@media (max-width: 1024px) {    
    .container {
        padding: 0 50px;
    }
}

@media (max-width: 769px){
    .container{
        padding: 0 30px;
    }
    .header__link{
        font-size: 18px;
        line-height: 21.13px;
    }
    .header__body{
        grid-template: 1fr/minmax(auto, 145px) 1fr;
    }
    .header__list{
        gap: 20px;
    }
    .hero__titles p{
        padding: 15px 0 30px;
    }
    .hero__titles h1{
        font-size: 40px;
        line-height: 40px;
    }
    .products__head{
        font-size: 30px;
        line-height: 33px;
        flex-wrap: wrap;
    }
    .products__btn{
        font-size: 18px;
    }
    .products__tab.active{
        grid-template: 1fr 1fr 1fr/50% 50%;
    }
    .hero__body{
        grid-template: 1fr/40% 1fr;
    }
    .products__btn{
        padding: 10px 15px;
    }
    .products__tabs{
        gap: 5px;
    }
    .promo__body{
        max-width: 100%;
    }
    .comand__body{
        flex-direction: column;
        gap: 10px;
    }
    .footer__fuck{
        grid-template: 40% 1fr/1fr;
    }
    .comand{
        padding: 20px 0;
    }
    .comand__body-title {
        width: 100%;
    }
    .comand__body-title h5{
        padding: 30px 0 0;
    }
    .footer__head{
        grid-template: 1fr/1fr 1fr;
        justify-content: space-between;
    }
    .footer__contact{
        position: relative;
        justify-self: end;
    }
    }
@media (max-width: 590px){
    .header__body{
        flex-direction: column;
    }
    .header__logo{
        padding: 2px 0;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid #C3D1C6;
    }
    .header .header__fuck {
        flex-direction: row;
        gap: 10px;
    }
    .hero{
        padding: 100px 0 20px;
    }
    .header__list{
        justify-content: flex-start;
    }
    .hero__body{
        grid-template:  1fr/ minmax(auto, 195px)1fr;
    }
    .hero__titles h1{
        font-size: 36px;
        line-height: 36px;
    }
    .hero__titles p{
        font-size: 16px;
        line-height: 24px;
    }
    .hero .button{
        line-height: 21.13px;
        padding: 10px 30px;
    }
    .footer__fuck{
        grid-template: 20% 1fr/1fr;
    }
    .footer__block{
        display: grid;
        grid-template: 1fr 30%/1fr;
    }
    .footer__copy{
        position: relative;
        justify-self: center;
        padding-top: 10px;
    }
    .footer__aitems{
        border-bottom: 1px solid #C3D1C6;
    }
    .soical{        
        gap: 30px;
    }
    .copy{
        text-align: center;
    }
    .comand__body{
        grid-template: 50% 1fr/1fr;
    }
    .promo{
        padding: 20px 0 40px;
    }
    .product__block img{
        min-width: 100%;
    }
    .products__tab.active{
        grid-template:1fr 1fr 1fr 1fr 1fr 1fr/1fr;
    }
    }
@media (max-width: 425px){
    .container {
        padding: 0 20px;
    }
    body.click {
        overflow: hidden;
    }
    .header{
        background: #E1EDE6;
    }
    .header .container{
        padding: 0 20px;
    }
    .header__logo{
        padding: 0;
        border: none;
    }
    .header__body{
        flex-direction: row;
    }
    .header__menu{
        position: absolute;
        left: -1000%;
    }
    .header .header__fuck{
        padding: 0;
        background: #E1EDE6;
        flex-direction: row-reverse;
        align-items: center;
        gap: 20px;
    }
    .hero {
        padding: 20px 0 20px;
    }
    .hero__picture{
        /* display: none; */
    }
    .hero__body{
        padding: 20px 0;
        display: flex;
        flex-direction: column;
    }
    .promo__aitems-head img {
        width: 100%;
        max-width: 50px;
    }
    .products__tabs{
        padding: 10px 0;
    }
    .footer{
        padding: 20px 0 30px;
    }
    .footer__aitems{
        display: flex;
        flex-wrap: wrap;
        column-gap: 40px;
    }
    .footer__block{
        grid-template: 70% 15%/1fr;
    }
    .footer__contact a{
        font-size: 16px;
    }
    .comand__body{
        grid-template: 40% 1fr/1fr;
    }
}